@import url("https://fonts.googleapis.com/css2?family=Audiowide,wght@0,400;0,700;1,400&display=swap");

.wrapper .content-wrapper {
  min-height: 96.2vh !important;
}

.main-header .logo {
  width: 200px;
}

.main-sidebar {
  background-color: #242D31;
}

.sidebar-menu a {
  color: #b8c7ce;
}

.navbar>..sidebar-togglea:hover {
  color: #b8c7ce;
}

.sidebar-menu a:hover {
   color: #fff;
    background: #1e282c;
    border-left-color: #fff;
}

.sidebar-menu>li>a {
    border-left: 3px solid transparent;
}

.sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #fff;
}

.main-header {
  background-color: #FFFFFF;
}

.main-header>.logo {
    background-color: #fff;
    color: #333;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #eee;
}

.navbar>.sidebar-toggle {
    color: #333;
    border-right: 1px solid #eee;
}

h2 {
  font-size: 20px;
  color: #84A4D8;
  padding-top: 0px;
}

h3 {
  font-size: 16px;
  color: #84A4D8;
  padding-top: 0px;
}

h4 {
  font-family: "Audiowide";
  font-weight: bold;
  font-size: 20px;
  color: #84A4D8;
}

a {
  color: #424242;
 }

hr {
  border-top: 2px solid #E3E3E3;
}

.border-left {
  border-left: 1px solid #000000;
}

.border-left-bold {
  border-left: 3px solid #BFBFBF;
}

.border-right {
  border-right: 1px solid #000000;
}

.border-left-grey {
  border-left: 1px solid #BFBFBF;
}

.border-right-grey {
  border-right: 1px solid #BFBFBF;
}

.well {
  background-color: #FFFFFF;
}

.navbar-static-top{
  z-index : 0;
}

.tag {
  color: #000000;
}

.tag.status-RR {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
  background: #d9d2e9;
  color: #442A4C;
}

.tag.status-FA {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
  background: #f4cccc;
  color: hsl(350, 45%, 30%);
}

.trf {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 12px;
  width: 45px;
}

.trf.team-AFL {
  background: #3D5B9F;
  color: #BBE1FB;
}
.trf.team-CC {
  background: #F8D199;
  color: #9F231C;
}
.trf.team-CRB {
  background: #EF857E;
  color: #FFFFFF;
}
.trf.team-ELP {
  background: #C6E5FD;
  color: #EB672B;
}
.trf.team-FRR {
  background: #C4D6ED;
  color: #3A466E;
}
.trf.team-GF {
  background: #CDFDD7;
  color: #F097B3;
}
.trf.team-MCM {
  background: #262627;
  color: #C4827A;
}
.trf.team-MWM {
  background: #B2E4F6;
  color: #20507D;
}
.trf.team-NN {
  background: #D24A4D;
  color: #F3BE40;
}
.trf.team-VD {
  background: #F0C3A4;
  color: #4DAAF7;
}
.trf.team-WLW {
  background: #69A2CA;
  color: #F9DA78;
}
.trf.team-MAM {
  background: #F9D58C;
  color: #203731;
}
.trf.team-VT {
  background: #D9D9D9;
  color: #595959;
}
.trf.team-WCBA {
  background: #D9D9D9;
  color: #595959;
}
.trf.team-SBP {
  background: #D9D9D9;
  color: #595959;
}
.trf.team-AAH {
  background: #D9D9D9;
  color: #595959;
}
.trf.team-GRR {
  background: #D9D9D9;
  color: #595959;
}
.trf.team-MM {
  background: #D9D9D9;
  color: #595959;
}
.trf.team-FA {
  background: #D9D9D9;
  color: #595959;
}
.trf.team-ABT {
  background: #99CE6F;
  color: #191619;
}
.trf.team-DDD {
  background: #7CDBE2;
  color: #E8944F;
}
.trf.team-MB {
  background: #A2C1CA;
  color: #8F645D;
}
.trf.team-CLC {
  background: #E43603;
  color: #F3B249;
}
.trf.team-SBS {
  background: #001131;
  color: #FFFFFF;
}
.trf.team-PP {
  background: #EA0126;
  color: #FFFFFF;
}
.trf.team-LBC {
  background: #92C29C;
  color: #B7263B;
}
.trf.team-NBB {
  background: #4E2684;
  color: #C8B880;
}
.trf.team-LC {
  background: #8EB5E3;
  color: #B42B36;
}
.trf.team-CPC {
  background: #000635;
  color: #E3B45F;
}
.trf.team-PCP {
  background: #1F1F1F;
  color: #4EACF8;
}
.trf.team-RR {
  background: #000000;
  color: #FFFFFF;
}